.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}
[class*="col"] {
  text-align: center;
}
/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}
.box-radius {
  background-color: #428bca;
  border-radius: 50%;
}

/* COMMON */
.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}
